<h1>Listing ideas</h1>

<% @ideas.in_groups_of(3) do |group| %>
<div class="row">
  <% group.compact.each do |idea| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag idea.picture_url(:thumb) if idea.picture.present? %>
      <div class="caption">
        <h3><%= link_to idea.name, idea %></h3>
        <p><%= idea.description %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>